# Copyright 2026 hrzlgnm
# SPDX-License-Identifier: MIT-0

name: Publish release artifacts

on:
  release:
    types:
      - published

jobs:
  source:
    permissions:
      contents: write
      actions: read
    uses: ./.github/workflows/source-checksums-reusable.yml
    secrets: inherit

  build:
    permissions:
      id-token: write
      attestations: write
      contents: write
      actions: read
    uses: ./.github/workflows/build-reusable.yml
    secrets: inherit
    with:
      tagName: ${{ github.event.release.tag_name }}
